AlarmWebService/web/WEB-INF/wsdl/localhost_8080/AlarmWebService/AlarmWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://cegeka.be/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cegeka.be/">

<xs:element name="addAlarm" type="tns:addAlarm"/>

<xs:element name="addAlarmByDate" type="tns:addAlarmByDate"/>

<xs:element name="addAlarmByDateResponse" type="tns:addAlarmByDateResponse"/>

<xs:element name="addAlarmResponse" type="tns:addAlarmResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUserResponse" type="tns:createUserResponse"/>

<xs:element name="getAlarmsFromUser" type="tns:getAlarmsFromUser"/>

<xs:element name="getAlarmsFromUserResponse" type="tns:getAlarmsFromUserResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:complexType name="addAlarm">
<xs:sequence>
<xs:element name="titel" type="xs:string" minOccurs="0"/>
<xs:element name="info" type="xs:string" minOccurs="0"/>
<xs:element name="repeated" type="xs:boolean"/>
<xs:element name="repeat_unit" type="xs:string" minOccurs="0"/>
<xs:element name="datum" type="xs:long"/>
<xs:element name="repeatquantity" type="xs:int"/>
<xs:element name="repeat_enddate" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAlarmResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarm" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alarm">
<xs:sequence>
<xs:element name="date" type="xs:long"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="info" type="xs:string" minOccurs="0"/>
<xs:element name="repeatEndDate" type="xs:long"/>
<xs:element name="repeatQuantity" type="xs:int"/>
<xs:element name="repeatUnit" type="xs:string" minOccurs="0"/>
<xs:element name="repeated" type="xs:boolean"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsFromUser">
<xs:sequence>
<xs:element name="emailadres" type="xs:string" minOccurs="0"/>
<xs:element name="paswoord" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsFromUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarm" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAlarmByDate">
<xs:sequence>
<xs:element name="titel" type="xs:string" minOccurs="0"/>
<xs:element name="info" type="xs:string" minOccurs="0"/>
<xs:element name="repeated" type="xs:boolean"/>
<xs:element name="repeat_unit" type="xs:string" minOccurs="0"/>
<xs:element name="datum" type="xs:dateTime" minOccurs="0"/>
<xs:element name="repeatquantity" type="xs:int"/>
<xs:element name="repeat_enddate" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAlarmByDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarm" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="naam" type="xs:string" minOccurs="0"/>
<xs:element name="achternaam" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="salt" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="achternaam" type="xs:string" minOccurs="0"/>
<xs:element name="emailadres" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="naam" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="emailadres" type="xs:string" minOccurs="0"/>
<xs:element name="paswoord" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>