AlarmWebService/src/conf/xml-resources/web-service-references/AlarmWebService/wsdl/localhost_8080/AlarmWebService/AlarmWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cegeka.be/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cegeka.be/" name="AlarmWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://cegeka.be/" schemaLocation="http://localhost:8080/AlarmWebService/AlarmWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getAlarmsFromUser">
<part name="parameters" element="tns:getAlarmsFromUser"/>
</message>
<message name="getAlarmsFromUserResponse">
<part name="parameters" element="tns:getAlarmsFromUserResponse"/>
</message>
<message name="addAlarmByDate">
<part name="parameters" element="tns:addAlarmByDate"/>
</message>
<message name="addAlarmByDateResponse">
<part name="parameters" element="tns:addAlarmByDateResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="addAlarm">
<part name="parameters" element="tns:addAlarm"/>
</message>
<message name="addAlarmResponse">
<part name="parameters" element="tns:addAlarmResponse"/>
</message>
<portType name="AlarmWebService">
<operation name="getUser">
<input wsam:Action="http://cegeka.be/AlarmWebService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://cegeka.be/AlarmWebService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="getAlarmsFromUser">
<input wsam:Action="http://cegeka.be/AlarmWebService/getAlarmsFromUserRequest" message="tns:getAlarmsFromUser"/>
<output wsam:Action="http://cegeka.be/AlarmWebService/getAlarmsFromUserResponse" message="tns:getAlarmsFromUserResponse"/>
</operation>
<operation name="addAlarmByDate">
<input wsam:Action="http://cegeka.be/AlarmWebService/addAlarmByDateRequest" message="tns:addAlarmByDate"/>
<output wsam:Action="http://cegeka.be/AlarmWebService/addAlarmByDateResponse" message="tns:addAlarmByDateResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://cegeka.be/AlarmWebService/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://cegeka.be/AlarmWebService/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="addAlarm">
<input wsam:Action="http://cegeka.be/AlarmWebService/addAlarmRequest" message="tns:addAlarm"/>
<output wsam:Action="http://cegeka.be/AlarmWebService/addAlarmResponse" message="tns:addAlarmResponse"/>
</operation>
</portType>
<binding name="AlarmWebServicePortBinding" type="tns:AlarmWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAlarmsFromUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAlarmByDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAlarm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlarmWebService">
<port name="AlarmWebServicePort" binding="tns:AlarmWebServicePortBinding">
<soap:address location="http://localhost:8080/AlarmWebService/AlarmWebService"/>
</port>
</service>
</definitions>